<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.karl.sh.consumer.mapper.PurchaseOrderMapper">
    <resultMap id="BaseResultMap" type="org.karl.sh.consumer.model.PurchaseOrder">
        <id column="USER_ID" jdbcType="VARCHAR" property="userId"/>
        <result column="DATETIME" jdbcType="VARCHAR" property="datetime"/>
        <result column="STATE" jdbcType="BOOLEAN" property="state"/>
        <result column="USER_ID" jdbcType="VARCHAR" property="userId"/>
    </resultMap>

    <insert id="createOrder" parameterType="org.karl.sh.consumer.model.PurchaseOrder">
        insert into purchase_order
            (order_id, datetime, state, user_id)
        values (#{orderId},
                now(),
                #{state},
                #{userId})
    </insert>


</mapper>