<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.karl.sh.warehouse.mapper.goods.GoodsMapper">
    <resultMap id="BaseResultMap" type="org.karl.sh.warehouse.model.Goods">
        <id column="GOODS_ID" jdbcType="INTEGER" property="goodsId"/>
        <result column="GOODS_NAME" jdbcType="VARCHAR" property="goodsName"/>
        <result column="NUM" jdbcType="INTEGER" property="num"/>
    </resultMap>

    <update id="decrement">
        update goods
        set num = num - #{count},update_datetime = NOW()
        where goods_id = #{goodsId}
    </update>

    <select id="selectNumById" resultType="org.karl.sh.warehouse.model.Goods">
        select goods_id, goods_name, num
        from goods
        where goods_id = #{goodsId}
    </select>


</mapper>